<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="URL" value="https://bond.qa4.nga.net.au/LogOn"/>
    <!--<add key="URL" value="https://bond.qa3.nga.net.au/LogOn"/>-->
    <add key="ER_TESTDATA" value="Library\\Excel\\DataFiles\\TestData.xlsx"/>
     <add key="EP_TESTDATA" value="Library\\Excel\\DataFiles\\FormTemplate.xlsx"/>
    <add key="EReference_TESTDATA" value="Library\\Excel\\DataFiles\\ReferenceMaterial.xlsx"/>
    <add key="EHome_TESTDATA" value="Library\\Excel\\DataFiles\\HomeTest.xlsx"/>
    <add key="EP_Competency" value="Library\\Excel\\DataFiles\\Competency.xlsx"/> 
    <add key="EP_GQ" value="Library\\Excel\\DataFiles\\GlobalQuestions.xlsx"/>
    <add key="Ep_Permission" value="Library\\Excel\\DataFiles\\PermissionProfile.xlsx"/>
    <add key="EP_OrgStructures" value="Library\\Excel\\DataFiles\\OrganisationalStructures.xlsx"/>
    <add key="EP_SystemConfigurationTest" value="Library\\Excel\\DataFiles\\SystemConfigurationTest.xlsx"/>
    <add key="EP_ReviewTemplate" value="Library\\Excel\\DataFiles\\ReviewTemplate.xlsx"/>
    <add key="EP_Reviews" value="Library\\Excel\\DataFiles\\Reviews.xlsx"/>
     <add key="EP_ReviewsWorkFlow" value="Library\\Excel\\DataFiles\\ReviewWorkFlow.xlsx"/>
    <add key="EP_ReviewGoalSetting" value="Library\\Excel\\DataFiles\\GoalSettingPhase.xlsx"/>
     <add key="EP_AppraisalPhase" value="Library\\Excel\\DataFiles\\AppraisalPhase.xlsx"/>
     <add key="EP_Users" value="Library\\Excel\\DataFiles\\Users.xlsx"/>
    
   <add key="Wait" value="5"/><!--Only Integer Value-->
    
    <!--Do not make any changes in the below section. -->
    <!--Section Start-->
    <add key="ExtentReports" value="True"/>
    <add key="GlobalQueCreation" value="True"/>
    <!--Section End-->
    
   <!--Email Report Start-->
    <add key="EmailTrigger" value="ReviewModuleTest"/>    
    <add key="Sender" value="vijay.pandit@acendre.com" />
    <add key="UserId" value="vijay.pandit@acendre.com" />
    <add key="Pwd" value="Vjypnd468" />
    <add key="Host" value="acendre-com.mail.protection.outlook.com" />
    <add key="Port" value="25" />    
    <!--Email Report End-->
    
  </appSettings>
</configuration>